# Week 13 Programming Assignment

As you're working on identifying data for your final project, it's helpful to spend some time exploring your various data files.  For this week's assignment, I'd like you to take a few of the ideas from the the lectures, review assignment, and tonight's lecture to start exploring the data you plan to use for the final project.

For the following activities, you can use just one of the data files that you've identified, or you can do the activities using different data files.  That's up to you.  Please describe what you're doing in a Markdown cell or in the comments of your code.  When you've completed the assignment, submit it as normal.

### 1. Basic Statistics

Use Python to read in your data file and show many rows and columns your data has.

In [2]:
import pandas as pd
Msat = pd.read_csv('Market Saturation.csv')

In [3]:
Msat.head()

,reference_period,type,aggregation_level,state,county,state_fips,county_fips,number_of_fee_for_service_beneficiaries,number_of_providers,average_number_of_users_per_provider,...,number_of_fee_for_service_beneficiaries_change,number_of_providers_change,average_number_of_users_per_provider_change,percentage_of_users_out_of_ffs_beneficiaries_change,number_of_users_change,average_number_of_providers_per_county_change,number_of_dual_eligible_users_change,percentage_of_dual_eligible_users_out_of_total_users_change,percentage_of_dual_eligible_users_out_of_dual_eligible_ffs_beneficiaries_change,total_payment_change
0,2014-10-01 to 2015-09-30,Ambulance (Emergency & Non-Emergency),NATION + TERRITORIES,--ALL--,--ALL--,,,"42,010,797","9,183",556.94,...,,,,,,,,,,
1,2014-10-01 to 2015-09-30,Ambulance (Emergency & Non-Emergency),STATE,AL,--ALL--,1,,"797,944",154,683.54,...,,,,,,,,,,
2,2014-10-01 to 2015-09-30,Ambulance (Emergency & Non-Emergency),STATE,AK,--ALL--,2,,"88,923",32,246.94,...,,,,,,,,,,
3,2014-10-01 to 2015-09-30,Ambulance (Emergency & Non-Emergency),STATE,AZ,--ALL--,4,,"786,800",175,436.77,...,,,,,,,,,,
4,2014-10-01 to 2015-09-30,Ambulance (Emergency & Non-Emergency),STATE,AR,--ALL--,5,,"527,266",97,651.85,...,,,,,,,,,,

### 2. Data Diversity

Use Python to identify how many unique values each column in your data has.  Use Python to identify which column has the greatest number of distinct values (aka the most diversity)?  If your data has a unique identifier (e.g. a person or visit or record ID) then find the column with the next most number of unique values.

In [9]:
unique_counts_df = Msat.nunique().reset_index()

unique_counts_df.columns = ["county", "unique_values"]

unique_counts_df.sort_values("unique_values", ascending = False)

                                               county  unique_values
16                                      total_payment         991243
9                average_number_of_users_per_provider          49016
11                                    number_of_users          40692
7             number_of_fee_for_service_beneficiaries          28884
13                      number_of_dual_eligible_users          18848
12             average_number_of_providers_per_county          12400
14  percentage_of_dual_eligible_users_out_of_total...           8473
15  percentage_of_dual_eligible_users_out_of_dual_...           8406
10       percentage_of_users_out_of_ffs_beneficiaries           7932
47                               total_payment_change           4970
45  percentage_of_dual_eligible_users_out_of_total...           4519
42                             number_of_users_change           4501
40        average_number_of_users_per_provider_change           4216
44               number_of_dual_eligible_users_change           3811
43      average_number_of_providers_per_county_change           3765
37                                payment_description           3443
33                             pct_dusers_description           3216
8                                 number_of_providers           3138
23                          benes_per_npi_description           3104
27                                  users_description           3095
41  percentage_of_users_out_of_ffs_beneficiaries_c...           3031
46  percentage_of_dual_eligible_users_out_of_dual_...           2941
35                             \tpct_dffs_description           2936
19  number_of_fee_for_service_beneficiaries_descri...           2873
38     number_of_fee_for_service_beneficiaries_change           2824
31                                 dusers_description           2750
25                              pct_users_description           2716
39                         number_of_providers_change           2639
29                           npi_per_cnty_description           1877
4                                              county           1837
21                                   nnpi_description           1480
6                                         county_fips            429
5                                          state_fips             64
3                                               state             52
0                                    reference_period             19
1                                                type             19
34                                pct_dffs_dual_color             11
36                                 payment_dual_color             11
32                              pct_dusers_dual_color             11
30                                  dusers_dual_color             11
28                          npi_per_county_dual_color             11
26                                   users_dual_color             11
22                           benes_per_npi_dual_color             11
20                                    nnpi_dual_color             11
18  number_of_fee_for_service_beneficiaries_dual_c...             11
24                               pct_users_dual_color             11
17                                         moratorium              3
2                                   aggregation_level              3

### 3. Data Redundancy

Use Python to identify any columns in your data where the value for every row is the same.  For example, if you had a gender column and all the rows said 'M', then you would want to write the code that helped you determine that.

### 4. Range of Values

Your data almost certainly has some numeric columns that can be summed or averaged.  Create a histogram that shows the distribution of values for this column.

### 5. Discussion

Do any additional exploration of this data that you think may be interesting and include your code here.  Then go onto Slack and make a post about what you've observed.  Share your observation.  Share your code, if you like.  Share a screenshot of the data or a chart based on the data.

Then comment on at least two other people's observations that they share on Slack.  (Use the reply as thread option in Slack to keep the conversation organized.)



---



## Submitting Your Work

Submit your work as usual.